%ul
  - if ::Refinery::Projects::Admin::ProjectsController.searchable?
    %li
      = render '/refinery/admin/search', :url => refinery.projects_admin_projects_path
  %li
    = link_to "New Project", refinery.new_projects_admin_project_path,
      title: "Add New Project", class: "add_icon icon_label"
  - if !searching? && ::Refinery::Projects::Admin::ProjectsController.sortable? && ::Refinery::Projects::Project.many?
    %li
      = action_label :reorder,
        refinery.projects_admin_projects_path,
        t('.reorder', what: "Projects"), id: 'reorder_action'
      = action_label :reorder_done,
        refinery.projects_admin_projects_path,
        t('.reorder_done', what: "Projects"), id: 'reorder_action_done', class: ''