<% stackIconFalse = 'fa fa-star-o'.html_safe %>

<% stackIconTrue = 'fa fa-star'.html_safe %>

<% unless project.featured %>
    <%= link_to '',
                refinery.projects_admin_style_path(project,
                                                   :project => {:featured => true}),
                :method => :put,
                :tooltip => "Add this project to the Front-End?",
                class: stackIconTrue %>
    <%#= link_to(stackIconFalse, "", {class: 'nopadding', tooltip: 'This Style is not on the Home Page'})%>
<% else %>
    <%= link_to '',
                refinery.projects_admin_style_path(project,
                                                   :project => {:featured => false}),
                :method => :put,
                :confirm => "Are you sure?",
                tooltip: 'Remove this project from the Front-End',
                class: stackIconFalse %>
    <%#= link_to(stackIconTrue, "", {class: 'nopadding', tooltip: 'This Style is on the Home Page'})%>
<% end %>