= form_for [refinery, :projects_admin, @project] do |f|
  = render '/refinery/admin/error_messages',
    :object => @project,
 :include_object_name => true
  = f.text_field(:temp_id, :value => @project.temp_id)
  .field
    = f.label :title
    = f.text_field :title, :class => 'larger widest'
  .field
    = f.label :style
    = f.select(:style_id, @styles.collect { |d| [d.name, d.id] })
  .field
    = f.label :featured do
      Featured Project
      \#{f.check_box :featured}
  = f.fields_for :address do |address|
    = render :partial => 'address', :locals => {:f => address}
  .field
    = f.label :main_image
    = render :partial => "/refinery/admin/image_picker",
             locals: { :f => f,
                       :field => :main_image_id,
                       :image => f.object.main_image,
                       :toggle_image_display => true }
  .field
    = f.label :date
    = f.date_select :date, {:include_blank => true}

  %h1
    Project Images
  - if @project.refinery_images.empty?
    %h2
    No images for
    %span.project_name
      - if @project.title.blank?
        New project
      - else
        = @project.title
  - else
    %h2
      = @project.refinery_images.count
      images for
      %span.project_name
        - if @project.title.blank?
          New project
        - else
          = @project.title
  %div
    = link_to refinery.new_admin_image_path(dialog: true, project_id: @project.temp_id) do
      Add new Image
  // TODO what if the user creates new images for the project but doesn't create the project itself and only saves the
  // images
  // TODO I believe for every update and create we should have temp_id's because the image is created even if the
  // project isn't saved, we should only save the image if the project is also saved.
  // TODO Get this field working
  .field
    = f.label :project_images, "Project Images"
    %section#records.images
    = render 'project_images'


  = render '/refinery/admin/wysiwyg',
    :f => f,
    :fields => [:description],
    :object => "projects/project"
  -#
  = render '/refinery/admin/form_actions', :f => f,
    :cancel_url => refinery.projects_admin_projects_path,
    :continue_editing => false,
    :delete_title => t('delete', :scope => 'refinery.projects.admin.projects.project'),
    :delete_confirmation => t('message', :scope => 'refinery.admin.delete', :title => @project.title)
:javascript
  $('#project_title').on('input', function() {
    //alert(('#project_title').val());
    $(".project_name").text($('#project_title').val())
  });
- content_for :javascripts do
  :javascript
    $(document).ready(function (e) {
      page_options.init(false, '', '');
      $('#project_title').on('input', function() {
        alert( "Handler for .change() called." );
        });
    });

    //TODO use POST instead of GET for this
    $(window).on('unload', function(e){
      $.get( ' #{ refinery.delete_unused_images_projects_admin_projects_path(project: @project.temp_id) } ', function( data ) {
        $( ".result" ).html( data );
        alert( "Load was performed." );
      });
    });
    // Warning

    -#$(window).on('beforeunload', function(e){
    -#
    -#  return "Any changes will be lost";
    -#});
    -#
    -#
    -#// Form Submit
    -#$(document).on("submit", "form", function(e){
    -#  // disable unload warning
    -#  $(window).off('unload');
    -#  $(window).off('beforeunload');
    -#});
