<%= render 'refinery/admin/search_header', :url => refinery.admin_images_path %>
<div class="pagination_container">
  <% if @project_images.any? %>
      <%= render 'images' %>
  <% else %>
      <p>
        <% if searching? %>
            <%= t('no_results', :scope => 'refinery.admin.search') %>
        <% else %>
            <strong>
              <%= "No Images yet for #{@project.title}" %>
            </strong>
        <% end %>
      </p>
  <% end %>
</div>
