<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(project) -%>">
  <span class='title'>
    <%= project.title %>
    <span style="text-align: right;">
    <%= "#{project.refinery_images.count} images" %>
    </span>
  </span>
  <span class='actions'>
    <%= render 'featured', project: project %>
    <%= action_icon(:preview, refinery.projects_project_path(project.style, project), t('.view_live_html')) %>
    <%= action_icon(:edit, refinery.edit_projects_admin_project_path(project), t('.edit')) %>
    <%= action_icon(:delete, refinery.projects_admin_project_path(project), t('.delete'),
                    {class: "cancel confirm-delete",
                     data: {confirm: t('message', scope: 'refinery.admin.delete', title: project.title)}}) %>
  </span>
</li>
