<ul class="nav nav-tabs">
  <% Refinery::Image.uniq.pluck(:project_id).each_with_index do |project, index| -%>
      <% if project.nil? %>
          <%= "<li class='active'><a data-toggle='tab' href='#unsorted'>Unsorted</a></li>".html_safe %>
      <% elsif index == 0 && !project.nil? %>
          <% project_title = Refinery::Projects::Project.where(id: project).pluck(:title)[0] %>
          <%= "<li class='active'><a data-toggle='tab' href='##{project_title.delete(' ')}'>#{project_title}</a></li>".html_safe %>
      <% else %>
          <% project_title = Refinery::Projects::Project.where(id: project).pluck(:title)[0] %>
          <%= "<li><a data-toggle='tab' href='##{project_title.delete(' ')}'>#{project_title}</a></li>".html_safe %>
      <% end %>
  <% end %>
</ul>
<div class="tab-content">
  <% Refinery::Image.uniq.pluck(:project_id).each_with_index do |project, index| -%>
      <% if project.nil? %>
          <div id='unsorted' class='tab-pane fade in active'>
            <ul id="image_grid" class="<%= ['clearfix', 'pagination_frame', 'images_list', pagination_css_class].compact.join(' ') %>">
              <% @images.where(project_id: nil).each_with_index do |image, index| %>
                  <li id="image_<%= image.id %>" class="image_<%= index % 5 %>">
                    <%= image_fu image, '135x135#c', title: image.title %>
                    <span class="actions">
                    <%= action_icon :preview, image.url, t('view_live_html', scope: 'refinery.admin.images') %>
                      <%= action_icon :edit, refinery.edit_admin_image_path(image), t('edit', scope: 'refinery.admin.images') %>
                      <%= action_icon :delete, refinery.admin_image_path(image, params.slice(:page)), t('delete', scope: 'refinery.admin.images'), class: 'confirm-delete',
                                      data: {confirm: t('message', scope: 'refinery.admin.delete', title: image.title)} %>
                      <%= action_icon :info, '#', "Title: #{image.title} Alt text: #{image.alt}" %>
                  </span>
                  </li>
              <% end %>
            </ul>
          </div>
      <% elsif index == 0 %>
          <% project_title = Refinery::Projects::Project.where(id: project).pluck(:title)[0] %>
          <%= "<div id='#{project_title.delete(' ')}' class='tab-pane fade in active'>".html_safe %>
          <ul id="image_grid" class="<%= ['clearfix', 'pagination_frame', 'images_list', pagination_css_class].compact.join(' ') %>">
            <% @images.where(project_id: project).each_with_index do |image, index| %>
                <li id="image_<%= image.id %>" class="image_<%= index % 5 %>">
                  <%= image_fu image, '135x135#c', title: image.title %>
                  <span class="actions">
                    <%= action_icon :preview, image.url, t('view_live_html', scope: 'refinery.admin.images') %>
                    <%= action_icon :edit, refinery.edit_admin_image_path(image), t('edit', scope: 'refinery.admin.images') %>
                    <%= action_icon :delete, refinery.admin_image_path(image, params.slice(:page)), t('delete', scope: 'refinery.admin.images'), class: 'confirm-delete',
                                    data: {confirm: t('message', scope: 'refinery.admin.delete', title: image.title)} %>
                    <%= action_icon :info, '#', "Title: #{image.title} Alt text: #{image.alt}" %>
                  </span>
                </li>
            <% end %>
          </ul>
          </div>
      <% else %>
          <% project_title = Refinery::Projects::Project.where(id: project).pluck(:title)[0] %>

          <%= "<div id='#{project_title.delete(' ')}' class='tab-pane fade'>".html_safe %>
          <ul id="image_grid" class="<%= ['clearfix', 'pagination_frame', 'images_list', pagination_css_class].compact.join(' ') %>">

            <% @images.where(project_id: project).each_with_index do |image, index| %>
                <li id="image_<%= image.id %>" class="image_<%= index % 5 %>">
                  <%= image_fu image, '135x135#c', title: image.title %>
                  <span class="actions">
                    <%= action_icon :preview, image.url, t('view_live_html', scope: 'refinery.admin.images') %>
                    <%= action_icon :edit, refinery.edit_admin_image_path(image), t('edit', scope: 'refinery.admin.images') %>
                    <%= action_icon :delete, refinery.admin_image_path(image, params.slice(:page)), t('delete', scope: 'refinery.admin.images'), class: 'confirm-delete',
                                    data: {confirm: t('message', scope: 'refinery.admin.delete', title: image.title)} %>
                    <%= action_icon :info, '#', "Title: #{image.title} Alt text: #{image.alt}" %>
                  </span>
                </li>
            <% end %>
          </ul>
          </div>
      <% end %>
  <% end %>
  </div>
