<%# TODO move to Projects Extension  %>
<%#= will_paginate @images if Refinery::Admin::ImagesController.pageable? %>
<%#= render 'grid_view_by_project_id' %>
<%# has_project_image = !Refinery::Image.uniq.pluck(:project_id).all? {|item| item.nil?}%>

<%# if has_project_image%>
    <%#= render 'test' %>
<%# else %>
    <%= render "#{Refinery::Images.preferred_image_view}_view" %>
<%# end %>
