.col-md-8
  - main_image = @project.main_image ||= @project.refinery_images.first
  - unless main_image.nil?
    = image_fu @project.refinery_images.first, '1000x750#c', class: 'img-responsive parent_image', id:"_#{main_image.id}"
  - else
    %img.img-responsive.portfolio-item{:alt => "", :src => "http://placehold.it/1000x750"}/
