<script>
  $('.image-container img').replaceWith(function (i, v) {
    return $('<div/>', {
      style: 'background-image: url(' + this.src + ')',
      html: '<span>image</span>'
    })
  })
</script>