%h1 All Projects
-#-16.times.each_slice(3) do |row|
- @projects.each_slice(3).with_index do |row, index|
  %div{:id => index}
    -row.each do |project|
      =link_to(refinery.projects_project_path(project.style, project)) do
        .col-md-4.thumb
          .hovereffect
            %img.img-responsive{:alt => "", :src => "http://placehold.it/750x750"}
              .overlay
                %h2= project.title
                =link_to(project.description, refinery.projects_project_path(project.style, project), html_options={class:'info'})
%h1 Featured Projects
%ul#featured_projects
  - @featured_projects.each do |featured_project|
    %li
      = link_to featured_project.title, refinery.projects_project_path(featured_project.style, featured_project)
