- if @projects.count >= 1
  = render 'projects'
- else
  #page_container
    -if @projects.empty?
      %h1 No Projects Yet. Click |
      #{link_to "here", refinery.new_projects_admin_project_path, 'data-no-turbolink' => true, style:"color:red"} |
      to add one |
    -else
      %h1
        No Featured Project Yet. There is/are currently #{@projects.count} projects.
      %div
    %h3 In order for a projects to show up on the front page the following parameters must be met:
    %h6 (These need to be performed from the administration side.)
    %ul
      %li
        A Project must be created from the administation side
      %li
        The Project must be a 'featured' project
        %small
          (Hopefully with permission from the client of the project)\
      %li
        The Project should also have a 'main image' for any Image to show up