%h1 All Projects
.row
  .col-lg-4.col-xs-12
    .hovereffect
      %img.img-responsive{:alt => "", :src => "http://placehold.it/750x750"}
        .overlay
          %h2 Hover effect 1
          %a.info{:href => "#"} link here
  .col-lg-4.col-xs-12
    .hovereffect
      %img.img-responsive{:alt => "", :src => "http://placehold.it/750x750"}
        .overlay
          %h2 Hover effect 1
          %a.info{:href => "#"} link here
  .col-lg-4.col-xs-12
    .hovereffect
      %img.img-responsive{:alt => "", :src => "http://placehold.it/750x750"}
        .overlay
          %h2 Hover effect 1
          %a.info{:href => "#"} link here
.row
  .col-lg-4.col-xs-12
    .hovereffect
      %img.img-responsive{:alt => "", :src => "http://placehold.it/750x750"}
        .overlay
          %h2 Hover effect 1
          %a.info{:href => "#"} link here
  .col-lg-4.col-xs-12
    .hovereffect
      %img.img-responsive{:alt => "", :src => "http://placehold.it/750x750"}
        .overlay
          %h2 Hover effect 1
          %a.info{:href => "#"} link here
  .col-lg-4.col-xs-12
    .hovereffect
      %img.img-responsive{:alt => "", :src => "http://placehold.it/750x750"}
        .overlay
          %h2 Hover effect 1
          %a.info{:href => "#"} link here



