:css
  #_19 {
  display:none;
  }
.container-fluid
  / Portfolio Item Heading
  .row
    .col-lg-12
      %h1.page-header
        = raw @project.title
        %small
          \-
  / /.row
  / Portfolio Item Row
  .row
    = render 'image_or_stock'
    .col-md-4
      %h3= "Description"
      %p
        = raw @project.description.truncate_words(60)
      %h3 Project Details
      %ul
        %li Lorem Ipsum
        %li Dolor Sit Amet
        %li Consectetur
        %li Adipiscing Elit
  / /.row
  / Related Projects Row
  .row
    .col-lg-12
      %h3.page-header Other Images
    - if @project.refinery_images.present?
      - @project.refinery_images.in_groups_of(4, false).each_with_index do |group|
        - group.each do |image|
          .col-sm-3.col-xs-6.child_image{id:"_#{image.id}"}
            = image_fu image, '500x300#c', title: image.title, class: 'img-responsive portfolio-item'
    - else
      - 4.times do |i|
        .col-sm-3.col-xs-6
          %img.img-responsive.portfolio-item{:alt => "", :src => "http://placehold.it/1000x750"}/
  / /.row
  %hr/
  / Footer
  %footer
    .row
      .col-lg-12
        %p
          = raw "Copyright #{Time.now.year} #{Refinery::Core.site_name}"

- content_for :javascripts do
  = render 'image_switcher'