- if @styles.where(show_in_home: true).count >= 1
  - @styles.where(show_in_home: true).order(:position).limit(1).each do |style|
    - puts style.name
    - puts style.main_project.nil?
    - unless style.main_project.nil?
      - style_main_project = style.main_project
      - unless style_main_project.main_image.nil?
        - style_image = image_url style_main_project.main_image.url.html_safe
        #page_container{:style => " background-repeat:no-repeat;background-size:cover; background-image:url(#{style_image})"}
      - else
        #page_container
          %h1  No Images for Project '#{style.main_project.title}'
    - else
      #page_container
        - puts "FPSASDE"
        %h1 No Main Project for style '#{style.name}'
- else
  #page_container
    -if @styles.empty?
      %h1 No Styles Yet. Click |
      #{link_to "here", refinery.new_projects_admin_style_path, 'data-no-turbolink' => true, style:"color:red"} |
      to add one |

    -else
      %h1
        No Featured Style Yet. There is/are currently #{@styles.count} style.
      %div
    %h3 In order for a style to show up on the front page the following parameters must be met:
    %h6 (These need to be performed from the administration side.)
    %ul
      %li
        A Style must be created from the administation side
      %li
        The Style must be a 'featured' style
      %li
        A Project must be created with the given Style
      %li
        The Project must have a 'main image' for that Image to show up on the home page