- if @styles.where(show_in_home: true).count > 1
  .container-fluid
    - @styles.where(show_in_home: true).find_each do |style|
      = link_to refinery.projects_style_path(style) do
        .col-sm-6
          %h1
            = link_to style.name, refinery.projects_style_path(style)
          - style_main_project = style.main_project ||= style.projects.first
          - main_project_image = style_main_project.refinery_images.first
          - if main_project_image.nil?
            %img.img-responsive{:alt => "", :src => "http://placehold.it/1000x1000"}/
          - else
            = image_fu style.projects.first.refinery_images.first, '1000x1000#c', class: 'img-responsive portfolio-item'
- else
  .container-fluid
    - 2.times do |style|
      = link_to refinery.projects_style_path(@styles[style]) do
        .col-sm-6
          %h1
            =@styles[style].name
          - if @styles[style].projects.empty?
            %h1
              No projects for #{@styles[style].name}
          -else
            - main_project_image = @styles[style].projects.first.refinery_images.first
            - if main_project_image.nil?
              %img.img-responsive{:alt => "", :src => "http://placehold.it/1000x1000"}/
            - else
              = image_fu @styles[style].projects.first.refinery_images.first, '1000x1000#c', class: 'img-responsive portfolio-item'
