<% content_for :body_content_title do %>
    <%= @style.name %>
<% end %>
<!-- Page Content -->
<div class="container-fluid">
  <!-- Portfolio Item Heading -->
  <div class="row">
    <div class="col-lg-12">
      <h1>
        <%= link_to @style.name, refinery.projects_style_path(@style) %>
      </h1>
    </div>
  </div>
  <% unless @style.projects.nil? %>
      <% @style.projects.in_groups_of(3, false).each_with_index do |group| %>
          <div class='row'>
            <% group.each do |project| %>
                <%= link_to refinery.projects_project_path(@style, project) do %>
                    <div class="col-md-4 portfolio-item">


                      <% unless project.refinery_images.first.nil? %>
                          <%= image_fu project.refinery_images.first, '1000x1000#c', class: 'img-responsive' %>
                      <% else %>
                          <img class="img-responsive portfolio-item" src="http://placehold.it/1000x1000" alt="" height="1000.0px" width="1000.0px">
                      <% end %>
                      <h5><%= project.title %></h5>
                    </div>
                <% end %>
            <% end %>
          </div>
      <% end %>
  <% end %>
  <hr>
  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>
          <%= raw "Copyright #{Time.now.year} #{Refinery::Core.site_name}" %>
        </p>
      </div>
    </div>
    <!-- /.row -->
  </footer>
</div>