- unless @styles.nil?
  - @styles.each_with_index do |style, index|
    - project = style.projects.first
    - if index == 0 &&  !project.nil?
      .col-md-8
        - main_image = project.refinery_images.first
        - unless project.refinery_images.first.nil?
          = image_fu project.refinery_images.first, '1000x750#c', class: 'img-responsive'
        - else
          %img.img-responsive.portfolio-item{:alt => "", :src => "http://placehold.it/1000x750"}/
        .col-md-4
          %h3
            = "Description"
          %p
            = raw @style.description.truncate_words(60)
      / /.row
      .row
        .col-lg-12
          %h3.page-header Other Images
        - unless project.nil?
          / Related Projects Row
          .col-sm-3.col-xs-6
            - if project.refinery_images.first.nil?
              %img.img-responsive.portfolio-item{:alt => "", :src => "http://placehold.it/500x300"}/
            - else
              = image_fu project.refinery_images.first, '500x300#c', class: 'img-responsive portfolio-item'
            = link_to project.style.name, refinery.projects_style_path(project.style)
