<% unless @styles.nil? %>
    <% @styles.each_with_index do |style, index| %>
        <% project = style.projects.first %>
            <% if index == 0 &&  !project.nil?%>
                <div class="col-md-8">
                  <% main_image = project.refinery_images.first %>
                  <% unless project.refinery_images.first.nil? %>
                      <%= image_fu project.refinery_images.first, '1000x750#c', class: 'img-responsive' %>
                  <% else %>
                      <img class="img-responsive portfolio-item" src="http://placehold.it/1000x750" alt="">
                  <% end %>
                  <div class="col-md-4">
                    <h3>
                      <%= "Description" %>
                    </h3>
                    <p>
                      <%= raw @style.description.truncate_words(60) %>
                    </p>
                  </div>
                </div>
                <!-- /.row -->
                <div class="row">
                  <div class="col-lg-12">
                    <h3 class="page-header">Other Images</h3>
                  </div>
            <% unless project.nil? %>
                <!-- Related Projects Row -->
                <div class="col-sm-3 col-xs-6">
                  <% if project.refinery_images.first.nil? %>
                      <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                  <% else %>
                      <%= image_fu project.refinery_images.first, '500x300#c', class: 'img-responsive portfolio-item' %>
                  <% end %>
                  <%= link_to project.style.name, refinery.projects_style_path(project.style) %>
                </div>
            <% end %>
        <% end -%>
        </div>
        </div>
    <% end %>
<% end %>