%h1 No Styles Yet. Click |
#{link_to "here", refinery.new_projects_admin_style_path, 'data-no-turbolink' => true, style:"color:red"} |
to add one |

%h1
No Featured Style Yet. There is/are currently #{@styles.count} style(s).

%div

  %h3 In order for a style to show up on this page the following parameters must be met:
  %h6 (These need to be performed from the administration side.)

  %ul
    %li
      A Style must be created from the administration side.

  %h3 In order for an image to show up on this page the following parameters must be met:
  %h6 (These need to be performed from the administration side.)

  %ul
    %li
      A Project must be created with the given Style.
    %li
      The Project must have a 'main image' for that image to show up.