.container-fluid
  - @style.subStyles.each do |style|
    .col-sm-6
      %h1
        = link_to style.name, refinery.projects_style_path(style)
      - if style.projects.empty?
        %h1
          No Projects for #{style.name}
      - else
        - style_image = style.projects.first.refinery_images.first
        - if style_image.nil?
          %img.img-responsive{:alt => "", :src => "http://placehold.it/1000x1000"}/
        - else
          = image_fu style.projects.first.refinery_images.first, '1000x1000#c', class: 'img-responsive portfolio-item'
