.container-fluid
  - @styles.where(style_id: nil).find_each do |style|
    .col-sm-6
      %h1
        = link_to style.name, refinery.projects_style_path(style)
      - unless style.projects.empty?
        - style_image = style.projects.first.refinery_images.first
        - if style_image.nil?
          %img.img-responsive{alt: "", src: "http://placehold.it/1000x1000"}
        - else
          = image_fu style.projects.first.refinery_images.first, '1000x1000#c', class: 'img-responsive portfolio-item'
      - else
        %h3 No projects for #{style.name}