<ul>
  <% if ::Refinery::Projects::Admin::StylesController.searchable? %>
    <li>
      <%= render '/refinery/admin/search', :url => refinery.projects_admin_styles_path %>
    </li>
  <% end %>
  <li>
    <%= action_label :add, refinery.new_projects_admin_style_path, t('.create_new') %>
  </li>
<% if !searching? && ::Refinery::Projects::Admin::StylesController.sortable? && ::Refinery::Projects::Style.many? %>
  <li>
    <%= action_label :reorder,
                     refinery.projects_admin_styles_path,
                     t('.reorder', what:  "Styles"), id: 'reorder_action'%>
    <%= action_label :reorder_done,
                     refinery.projects_admin_styles_path,
                      t('.reorder_done', what: "Styles"), id: 'reorder_action_done', class: 'hidden'%>
  </li>
<% end %>
</ul>
