<%= form_for [refinery, :projects_admin, @style] do |f| -%>
    <%= render '/refinery/admin/error_messages',
               :object => @style,
               :include_object_name => true %>

    <div class='field'>
      <%= f.label :name -%>
      <%= f.text_field :name, :class => 'larger widest' -%>
    </div>


    <div class="field">
      <%= f.label :style -%>
      <%= f.select(:style_id, @styles.collect { |d| [d.name, d.id] }, :include_blank => "No Parent Style") %>
    </div>

    <div class="field">
      <%= f.label :project, "Main Project" -%>
      <%= f.select(:project_id, @style_projects.collect { |d| [d.title, d.id] }, :include_blank => "No Main Project") %>
    </div>

    <div class="field">

      <%= f.label :show_in_home do -%>
          Show in Home
          <%= f.check_box :show_in_home %>
      <% end %>
    </div>
    <div class="field">

      <%= f.label :show_in_menu do -%>
          Show in Menu
          <%= f.check_box :show_in_menu %>
      <% end %>
    </div>




    <%= render '/refinery/admin/wysiwyg',
               :f => f,
               :fields => [:description],
               :object => "projects/project/style" -%>

    <%= render '/refinery/admin/form_actions', :f => f,
               :continue_editing => false,
               :delete_title => t('delete', :scope => 'refinery.styles.admin.styles.style'),
               :delete_confirmation => t('message', :scope => 'refinery.admin.delete', :title => @style.name) -%>
<% end -%>
