<% stackIconFalse = ' <span class="fa-stack">
    <i class="fa fa-home fa-stack-1x"></i>
    <i class="fa fa-ban fa-stack-2x" style="color:#ff707f; "></i>
  </span>'.html_safe %>

<% stackIconTrue = ' <span class="fa-stack">
    <i class="fa fa-home fa-stack-1x"></i>
  </span>'.html_safe %>

<% unless style.show_in_home %>
    <%= link_to stackIconTrue,
                refinery.projects_admin_style_path(style,
                                                   :style => {:show_in_home => true}),
                :method => :put,
                :tooltip => "Add this style to the home page?" %>
    <%#= link_to(stackIconFalse, "", {class: 'nopadding', tooltip: 'This Style is not on the Home Page'})%>
<% else %>
    <%= link_to stackIconFalse,
                refinery.projects_admin_style_path(style,
                                                   :style => {:show_in_home => false}),
                :method => :put,
                :confirm => "Are you sure?",
                tooltip: 'Remove this style from the home page' %>
    <%#= link_to(stackIconTrue, "", {class: 'nopadding', tooltip: 'This Style is on the Home Page'})%>
<% end %>