<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(style) -%>">
  <span class='title'>
    <%= style.name %>
    <% unless style.style.nil? %>
        <%= "(#{style.style.name})" %>
    <% end %>
        </span>
  <span class='actions toggle'>

  </span>
  <span class='actions'>
<span class="toggle">
    <%= render 'in_home_toggle', style: style %>
</span>
    <%= action_icon(:preview, refinery.projects_style_path(style), t('.view_live_html')) %>

    <%= action_icon(:edit, refinery.edit_projects_admin_style_path(style), t('.edit')) %>

    <%= action_icon(:delete, refinery.projects_admin_style_path(style), t('.delete'),
                    {class: "cancel confirm-delete",
                     data: {confirm: t('message', scope: 'refinery.admin.delete', title: style.name)}}) %>
  </span>
</li>